---
title: Home
layout: src/templates/layouts/2column-left.hbs
uiKitNavigation: true
---

<section id="typography" class="section">
    <h2 class="legend">Typography</h2>
    {{> typography }}
</section>

<hr/>

<section id="iconography" class="section">
    <h2 class="legend">Iconography</h2>
    {{> iconography }}
</section>

<hr/>

<section id="messages" class="section">
    <h2 class="legend">Messages</h2>
    {{> messages }}
</section>

<hr/>

<section id="forms" class="section">
	<h2 class="legend">Forms</h2>
    {{> forms }}
</section>

<hr/>

<section id="buttons" class="section">
    <h2 class="legend">Buttons</h2>
    {{> buttons }}
</section>

<hr/>

<section id="grid" class="section">
    <h2 class="legend">Grid</h2>
    {{> grids }}
</section>

<hr/>

<section id="tables" class="section">
    <h2 class="legend">Tables</h2>
    {{> tables }}
</section>

<hr/>

<section id="pagination" class="section">
    <h2 class="legend">Pagination</h2>
    {{> pagination }}
</section>

<hr/>

<section id="responsive-embeds" class="section">
    <h2 class="legend">Responsive Embeds</h2>
    {{> responsive-embeds }}
</section>

<hr/>

<!--<section id="content-grids" class="section">
    <h2 class="legend">Content Grids</h2>
    {{> content-grids }}
</section>-->

