@import "utilities.less";
@import "variable.less";

.masthead-top{
    background-color: @black;
    position: relative;
    font-family:@brand-font;
    font-weight: 200;
    font-size: 13px
}
.dropdown-menu-masthead{
    background-color:@black;
    font-family:@brand-font;
    font-weight: 200;
    font-size:13px;
    border:none;
}
.dropdown-menu{
    border-right-width:0px;

}
.navbar-hidden-tablet > .active-state:after{
    content: "-";
    position: absolute;
    color: @brand-primary;
    top:15px;
    left:45%;
    font-size: 50px;
}
.browse::after{
    display: inline-block;
    width: 0;
    height: 0;
    margin-left: 5em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
}
.navbar-hidden-tablet > .nav-link:hover{
   &:after{
    content: "-";
    position: absolute;
    color: @brand-primary;
    top:15px;
    left:45%;
    font-size: 50px;
   }
}
.navbar{
    margin-bottom: 2rem;
}
.nav-item{
    font-weight: bold;
    color:@black;
}
.brand{
    max-width: 170px;
}
.navbar-brandx{
    float:right;
}
.full-container{
    width: 100%;
    white-space: nowrap;
    position: relative;
}
.push-right{
    position: absolute;
    right: 0px;
    
}
.inputGroup-sizing-default{
    padding: 15px;
    max-width: 60px;
    max-height: 60px;
    border-style: solid;
    border-width: 1px;
    border-color:lightgrey;
    border-left: @white;
}
.input-group{
    height: 60px;
}
.inline-group{
    display: inline-block;
}
.form-control{
    border-right-width:0px;
}
.small-icon{
    max-width: 45px;
    max-height: 45px;
    margin-left: -10px;
}
.head-search{
    margin-left: -20px;
}
.hide-tablet-display{
    @media (max-width:@tablet-max){//how can I store this as functions maybe
        display: none;
    }
}
.hide-phone-display{
    @media (max-width:@phone-max){//how can I store this as functions maybe
        display: none;
    }
}
.phone-display-search{
    @media (max-width:@tablet-max){
        .form-control{
            display:none;
        }
        .inputGroup-sizing-default{
            border-width:0px;
        }
    }
}
.phone-display-left {
    @media (max-width:@tablet-max){//how can I store this as functions maybe
        justify-content: flex-start!important;
    }  
}
.phone-display-right{
    @media (max-width:@phone-max){//how can I store this as functions maybe
        justify-content: flex-end!important;
    }  
}
//OFFCANVAS
#navbarsExampleDefault{
    padding: 0;
}
.head-buttons{
    width:50%;
    height: 50px;
    background-color: lightgray;
    font-weight: bold;
    font-size:16px;
    border-style: solid;
    border-width:0.5px;
    border-color: @grey;
    border-top-width:0px;

}
.navbar-hidden-tablet{
    @media (max-width: @tablet-max){
        display: none!important;
    }
}
#navbarsExampleDefault{
    @media (min-width: @tablet-max){
        display: none!important;
    }
}
#navbarsExampleDefault.active{
    border-width:0;
    background-color: @white;
}
.head-buttons > .nav-link.active{
    height: 50px;
}
.head-buttons > a{
    color: @black;
}
.head-account{
    width:50%;
    margin-left:-5px;
    @media (min-width: @tablet-max){
        display: none;
    }
}
.head-menu{
    @media (min-width: @tablet-max){
        display: none;
    }
}
#myTab{
    @media (min-width: @tablet-max){
        display: none;
    }
}
@media (max-width: @tablet-max) {
    .offcanvas-collapse {
      position: fixed;
      top: 0px; /* Height of navbar */
      bottom: 0;
      right: 100%;
      width: 60%;
      padding-right: 1rem;
      padding-left: 1rem;
      overflow-y: auto;
      visibility: hidden;
      background-color: white;
      transition-timing-function: ease-in-out;
      transition-duration: 0.8s;
      transition-property: right, visibility;
      z-index: 3000;
    }
    .offcanvas-collapse.open {
      right: 40%;
      visibility: visible;
    }
  }